<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>后台管理系统--@ViewData["Title"]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    @RenderSection("scriptstop", false)
</head>
<body>
    @RenderBody()
    @RenderSection("scriptsfeet", false)
</body>
</html>


